<div class="container-fluid ">
    <div class="row ">
        <div class="col">
        </div>
        <div class="col">
            <div class="card card-width mx-4 my-3">
                <div class="card-header">
                    <h5>Seller Signup</h5>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <div class="Form-group">
                                    <label for="id">ID</label>
                                    <input type="text" class="form-control " id="ID" placeholder="id" name="id" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group">
                                    <label for="username">UserName</label>
                                    <input type="text" class="form-control " id="username" placeholder="username"
                                        name="username" />
                                </div>
                            </div>
                            <div class="col ">
                                <div class="Form-group">
                                    <label for="pass">Password</label>
                                    <input type="password" class="form-control " id="password" placeholder="password"
                                        name="password" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group">
                                    <label for="company name">Company name</label>
                                    <input type="text" class="form-control " id="cname" placeholder="company name"
                                        name="company name" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="Form-group">
                                    <label for="gst">GSTIN</label>
                                    <input type="number" class="form-control " id="gstin" placeholder="gstin"
                                        name="gstno" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group">
                                    <label for="about">About</label>
                                    <textarea class="form-control " id="about" placeholder="about company"
                                        name="aboutcompany"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group">
                                    <label for="address">Postal address</label>
                                    <textarea class="form-control " id="address" placeholder="postal address"
                                        name="address"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col ">
                                <div class="Form-group">
                                    <label for="mail">Email</label>
                                    <input type="email" class="form-control " id="mail" placeholder="Email"
                                        name="email" />
                                </div>
                            </div>
                            <div class="col ">
                                <div class="Form-group">
                                    <label for="phno">MobileNumber</label>
                                    <input type="tel" class="form-control " id="phno" placeholder="mobile number"
                                        name="ph.no" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mx-2 my-2" routerLink="/login">REGISTER</button>
                        <label>Already have an Account?</label>
                        <a routerLink="/login">Login</a>
                    </form>

                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>